# ROS 2 build and install directories
build/
install/
log/

# Colcon-related files
.colcon_cd_root
.colcon/

# Python-related files
__pycache__/
*.py[cod]

# C++ build artifacts
*.o
*.a

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db


# But don't ignore the folder itself
!ros2_vision_packages/src/stereo_vision/calibration/.gitkeep
ros2_vision_packages/*.png
*.jpg

DatasetGenerator/*
